* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-image: url(pattern-background-desktop\ .svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: hsl(225, 100%, 94%);
  position: relative;
}
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  max-width: 450px;
  border-radius: 20px;
  overflow: hidden;
}
.text-content {
  padding: 7%;
  text-align: center;
}
.title {
  color: hsl(223, 47%, 23%);
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 20px;
}
.text-content p.subtitle {
  color: black;
  margin-bottom: 25px;
}
.plan-box {
  display: flex;
  background-color: hsl(225, 100%, 94%);
  border-radius: 12px;
  padding: 25px;
  align-items: center;
  justify-content: space-between;
}
.plan-box-left {
  display: flex;
  align-items: center;
  text-align: left;
}
.plan-box-left div {
  margin-left: 15px;
}

.plan-box-left div h5 {
  font-weight: bold;
  font-size: 15px;
  color: hsl(223, 47%, 23%);
}

.plan-box-left div p {
  font-weight: bold;
  font-size: 15px;
  color: hsl(223, 47%, 23%);
}
a {
  font-weight: bold;
  color: hsl(223, 47%, 23%);
}
a:hover {
  text-decoration: none;
  color: hsl(245, 75%, 52%);
}
.proceed-btn {
  display: block;
  text-decoration: none;
  background-color: hsl(245, 75%, 52%);
  padding: 20px 0;
  color: white;
  border-radius: 12px;
  margin: 30px 0;
}
.proceed-btn:hover {
  background-color: hsl(225, 100%, 94%);
}
.cancel-btn {
  color: hsl(223, 47%, 23%);
}
@media only screen and (max-width: 425px) {
  .container {
    max-width: 87%;
  }
  body {
    background-image: url(pattern-background-mobile\ .svg);
  }
  .title {
    font-size: 22px;
  }
}
